/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");

/* ============ GENERAL STYLES ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* COLOR */
  --color-black: #000;
  --color-white: #fff;
  --color-bg-yellow: #e3c98d;
  --color-beige: #fbfbf1;
  --color-red: #bc2e1e;
  --color-gray: gray;
  --color-purple: #7f47e3;
  --color-hover-yellow: #ffd500;
  --color-green: #09b76f;
  /* FONT SIZE*/
  --fz-60: 60px;
  --fz-48: 48px;
  --fz-30: 30px;
  --fz-24: 24px;
  --fz-20: 20px;
  --fz-16: 16px;
  --fz-14: 14px;
  --fz-12: 12px;
  --fz-10: 10px;
  /* FONT WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* BORDER */
  --bor-5: 5px;
  --bor-10: 10px;
  --bor-round: 50%;
  /* TRANSITION */
  --transition: 0.3s ease;

  /* SCROLL BAR */
  --scroll-bar-color: #fff;
  --scroll-thumb-color: #000;
  --scroll-thumb-hover-color: #454f6b;
}
/*======= Scroll bar =======*/
::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: var(--fz-14);
  color: var(--color-black);

  position: relative;

  width: 100%;
}
::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}
a {
  color: var(--color-black);
  transition: var(--transition);
}
a:hover {
  color: var(--color-gray);
}
button {
  width: max-content;

  cursor: pointer;

  background: var(--color-white);

  color: var(--color-black);
  font-weight: var(--fw-700);

  border: none;

  transition: var(--transition);

  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background: var(--color-black);
  color: var(--color-white);
}
.btn-round {
  border: 2px solid var(--color-black);
  border-radius: 10px;
  padding: 20px 40px;
}

/* ********************************************* */
/* ========================================== */
/* ================== COMPONENTS ================== */

/* ============ HEADER =========== */
header {
  width: 100%;
}

/*   >>>>>>> HEADER TOP <<<<<<<<< */
.headerTop {
  width: 100%;

  padding: 15px 30px;

  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  color: var(--color-white);
}
.headerTop > div:first-child {
  margin-right: 16px;

  position: relative;
}

.headerTop > div:first-child::after {
  content: "";
  width: 1px;
  height: 10px;
  background: var(--color-white);

  position: absolute;
  z-index: 1;
  bottom: 4px;

  margin: 0 8px;
}

/* >>>>>>>>> HEADER LOGO <<<<<<<<<< */
.headerLogo {
  position: absolute;
  z-index: 1;
  top: 50px;

  padding-left: 30px;

  font-weight: var(--fw-900);
  font-size: var(--fz-60);
  color: var(--color-white);
  text-shadow: 0 1px 0px #000, 1px 0 0px #000, 1px 2px 1px #000,
    2px 1px 1px #000, 2px 3px 2px #000, 3px 2px 2px #000, 3px 4px 2px #000,
    4px 3px 3px #000, 4px 5px 3px #000, 5px 4px 2px #000, 5px 6px 2px #000,
    6px 5px 2px #000, 6px 7px 1px #000, 7px 6px 1px #000, 7px 8px 0px #000,
    8px 7px 0px #000;

  display: flex;
  flex-direction: column;
}
.headerLogo span {
  text-shadow: none;
  font-size: var(--fz-30);
  text-align: right;
  color: var(--color-red);
  font-weight: var(--fw-900);
}
/* >>>>>>>>> HEADER MENU <<<<<<<<<< */
/* *** open button **** */
.headerMenu-button {
  top: 50px;
  right: 0;
  padding-right: 30px;
  position: absolute;
  z-index: 2;
}
.headerMenu-button button {
  width: 130px;
  height: 60px;

  position: relative;
  z-index: 3;
}
.headerMenu-button button i {
  margin-left: 10px;
}

.headerMenu-button div {
  /* create box shadow for button */
  width: 130px;
  height: 60px;

  border: 2px solid var(--color-black);
  border-radius: 10px;

  background: var(--color-white);

  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
}

/* ****MENU CONTENT***** */
.headerMenu__wrapper {
  display: none;

  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.75);
}
.headerMenu__wrapper__lists {
  background: var(--color-white);

  width: 90%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 88;
  transform: translate(-50%, -50%);

  border-radius: var(--bor-10);
  border: 3px solid var(--color-black);
}
/* *** close menu *** */
.headerMenu__wrapper__lists-closeMenu {
  cursor: pointer;

  font-size: var(--fz-20);
  font-weight: var(--fw-700);

  display: flex;
  align-items: center;
  justify-content: end;

  padding-right: 20px;
}

.headerMenu__wrapper__lists-closeMenu i {
  margin-left: 20px;
}
/* *** menu title *** */
.headerMenu__wrapper__lists-title {
  width: 80%;
  margin: 0 auto 20px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 92px;
}
.headerMenu__wrapper__lists-title h2 {
  font-size: var(--fz-60);
  font-weight: var(--fw-900);
}
.headerMenu__wrapper__lists-title div img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.headerMenu__wrapper__lists-title div img:not(:last-child) {
  margin-right: 20px;
}

/* *** menu content *** */
.headerMenu__wrapper__lists__contents {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;

  border-bottom: 1px solid var(--color-black);
}
.headerMenu__wrapper__lists__contents > div:first-child {
  flex: 2;
}
.headerMenu__wrapper__lists__contents > div:not(:first-child) {
  flex: 1;
}
/* left (LL MAGAZINES) */

.headerMenu__wrapper__lists__contents-left .c-l-title {
  /* title */
  display: flex;
  align-items: center;

  font-size: var(--fz-24);
  font-weight: var(--fw-700);
}
.headerMenu__wrapper__lists__contents-left .c-l-title div:first-child {
  display: flex;
  align-items: center;
}
.headerMenu__wrapper__lists__contents-left .c-l-title div:first-child img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  display: block;
  margin-right: 10px;
}
.c-l-title-respon-button {
  display: none;
}

.headerMenu__wrapper__lists__contents-left .c-l-menu {
  /* menu */
  display: flex;
}
.c-l-menu-wrapper {
  display: block;
}
.c-l-category {
  margin-right: 28px;
}
.c-l-category h3,
.c-l-publish h3 {
  font-size: var(--fz-16);

  margin: 20px 0;
}
.c-l-category div,
.c-l-publish div {
  display: flex;
  flex-direction: column;
}
.c-l-category a,
.c-l-publish a,
.c-c-house > div:last-child a,
.c-c-project > div:last-child a {
  margin-top: 10px;
  font-weight: var(--fw-700);
}

/* center */
.c-c-house {
  margin-bottom: 30px;
}
.c-c-house > div:first-child,
.c-c-project > div:first-child {
  display: flex;
  align-items: center;

  font-size: var(--fz-24);
  font-weight: var(--fw-700);
}
.c-c-house > div:first-child img,
.c-c-project > div:first-child img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  display: block;
  margin-right: 10px;
}
.c-c-house > div:last-child,
.c-c-project > div:last-child {
  display: flex;
  flex-direction: column;
}

/* menu content right */
.headerMenu__wrapper__lists__contents-right {
  position: relative;
}
.headerMenu__wrapper__lists__contents-right .c-r-menu > div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  font-size: var(--fz-24);
  font-weight: var(--fw-700);

  cursor: pointer;
}
.headerMenu__wrapper__lists__contents-right .c-r-menu > div img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  display: block;
  margin-right: 10px;
}
.c-r-menu > div:first-child:hover {
  color: var(--color-purple);
}
.c-r-menu > div:nth-child(2):hover {
  color: var(--color-hover-yellow);
}
.c-r-menu > div:last-child:hover {
  color: var(--color-green);
}

.c-r-button div:first-child {
  background: url("./img/menu icon/background.png") no-repeat center center;
  background-size: cover;

  width: 104px;
  height: 66px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: var(--fz-16);

  position: absolute;
  z-index: 3;
  bottom: 130px;
  right: 0;
}

.c-r-button div:first-child a {
  color: var(--color-white);
}
.c-r-button div:last-child {
  background: url("./img/menu icon/background-2.png") no-repeat center center;
  background-size: cover;

  width: 350px;
  height: 100px;
  padding: 20px;
  text-align: center;

  font-weight: 700;
  font-size: var(--fz-16);
  color: var(--color-white);

  position: absolute;
  z-index: 2;
  bottom: 50px;
  right: 0;
}

/* >>>>>>>>> MENU FOOTER <<<<<<<<<< */
.headerMenu__wrapper__lists__footer {
  width: 80%;
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerMenu__wrapper__lists__footer div:first-child a {
  font-size: var(--fz-12);
  font-weight: var(--fw-700);
  margin-right: 10px;
}
.headerMenu__wrapper__lists__footer div:first-child div {
  font-size: var(--fz-12);
}
/* ================== BANNER =============== */
.mainBanner {
  background: var(--color-bg-yellow);
  width: 100%;

  position: relative;
  top: 0;
  z-index: 0;
}
.mainBanner__wrapper {
  height: 100%;
  width: 100%;
  padding: 90px 56px 36px 80px;

  display: flex;
}
.mainBanner__wrapperLeft,
.mainBanner__wrapperRight {
  flex: 1;
  width: 100%;
  height: 100%;
}
/* >>>>>>> BANNER LEFT <<<< */
.mainBanner__wrapperLeft {
  padding: 48px 70px 0 0;

  position: relative;
}
/* *** slide container **** */
.mainBanner__wrapperLeft-slideContainer {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.mainBanner__wrapperLeft-slideContainer .slide {
  display: none;
  width: 100%;
  position: relative;
}
.mainBanner__wrapperLeft-slideContainer .slide img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-black);
}

/* Caption text */
.mainBanner__wrapperLeft-slideContainer .slide .slideText {
  color: var(--color-white);
  font-size: var(--fz-60);
  font-weight: var(--fw-900);
  padding: 20px;
  position: absolute;
  top: -10%;
  right: -15%;
  height: 90%;
  writing-mode: vertical-rl;
}
/* subtext */
.mainBanner__wrapperLeft-slideContainer .slide .slideSubtext {
  color: var(--color-white);
  font-size: var(--fz-48);
  font-weight: var(--fw-900);
  bottom: -8%;

  color: black;
  -webkit-text-fill-color: var(--color-bg-yellow);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
/* *** Slide Pagination **** */
.mainBanner__wrapperLeft-pagination {
  display: flex;
  align-items: center;
  position: absolute;
  right: 100px;
  bottom: 30px;
}
.mainBanner__wrapperLeft-pagination > div:first-child {
  margin-right: 10px;

  cursor: pointer;
}
.mainBanner__wrapperLeft-pagination > div:last-child {
  margin-left: 10px;

  cursor: pointer;
}
.mainBanner__wrapperLeft-pagination div:nth-child(2) .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: transparent;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.mainBanner__wrapperLeft-pagination div:nth-child(2) .dot.active,
.mainBanner__wrapperLeft-pagination div:nth-child(2) .dot:hover {
  background-color: var(--color-black);
}

/* >>>>>>> BANNER RIGHT <<<< */

.mainBanner__wrapperRight {
  overflow: hidden;
}
/* ++++ CONTENT ++++ */
/* *** title *** */
.mainBanner__wrapperRight-content {
  width: 80%;
  margin: 0 auto;
  background: var(--color-beige);

  border: 2px solid var(--color-black);
  overflow-x: hidden;
  padding: 34px 0 55px 0;
}

.mainBanner__wrapperRight-content .contentTitle {
  width: 3000px;
  margin-bottom: 40px;
  font-weight: var(--fw-900);
  font-size: 26px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: scrollText 20s infinite linear;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-80%);
  }
}
.mainBanner__wrapperRight-content .contentTitle span {
  flex: 1;
}
.mainBanner__wrapperRight-content .contentTitle span img {
  width: 18px;
  height: 20px;
  object-fit: cover;
  margin-right: 5px;
}

/* **** image slide top & image slide bottom *** */
.mainBanner__wrapperRight-content .imgContentTop {
  width: 3000px;
  display: flex;
  justify-content: space-between;
  animation: runImage-One 20s infinite linear;
}
@keyframes runImage-One {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.mainBanner__wrapperRight-content .imgContentTop:hover,
.mainBanner__wrapperRight-content .imgContentBottom:hover {
  animation-play-state: paused;
}
.mainBanner__wrapperRight-content .imgContentTop div,
.mainBanner__wrapperRight-content .imgContentBottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.mainBanner__wrapperRight-content .imgContentTop div img,
.mainBanner__wrapperRight-content .imgContentBottom div img {
  width: 88px;
  height: 88px;

  border-radius: var(--bor-round);

  transition: var(--transition);
}
.mainBanner__wrapperRight-content .imgContentTop div img:hover,
.mainBanner__wrapperRight-content .imgContentBottom div img:hover {
  border: 2px solid var(--color-black);
}
.mainBanner__wrapperRight-content .imgContentTop div a:nth-of-type(1),
.mainBanner__wrapperRight-content .imgContentBottom div a:nth-of-type(1) {
  font-size: var(--fz-12);
  font-weight: var(--fw-900);
  margin-top: 10px;
}
.mainBanner__wrapperRight-content .imgContentTop div a:nth-of-type(2),
.mainBanner__wrapperRight-content .imgContentBottom div a:nth-of-type(2) {
  width: 70%;
  font-size: var(--fz-14);
  font-weight: var(--fw-900);
}
/* **** image slide bottom *** */
.mainBanner__wrapperRight-content .imgContentBottom {
  width: 3000px;
  display: flex;
  justify-content: space-between;
  animation: runImage-Two 15s infinite linear;
}
@keyframes runImage-Two {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ++++ HOUSE IMG ++++ */
.mainBanner__wrapperRight-houseImage {
  display: flex;

  width: 80%;
  margin: 20px auto;
}
.mainBanner__wrapperRight-houseImage div {
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainBanner__wrapperRight-houseImage div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.mainBanner__wrapperRight-houseImage div h3 {
  font-size: var(--fz-20);

  margin-top: 20px;
  cursor: pointer;
}

/* ============== SMALL ADVERTISE ============ */
.advertise {
  width: 100%;
  background: var(--color-beige);
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  overflow-x: hidden;
}
.advertise__wrapper {
  height: 34px;
  width: 3000px;
  padding: 5px 0;
  animation: scrol-ad 15s infinite linear;
}
@keyframes scrol-ad {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}
.advertise__wrapper:hover {
  animation-play-state: paused;
}
.advertise__wrapper ul {
  display: flex;
  align-items: center;
}
.advertise__wrapper ul li {
  display: flex;
  align-items: center;
}
.advertise__wrapper ul li img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.advertise__wrapper ul li {
  font-size: var(--fz-20);
  font-weight: var(--fw-900);
}
/* ***************************************** */
/* ========================================= */
/* ***************************************** */
/* ============= RESPONSIVE ================ */
/* >>>>>> TABLET <<<<<<<< */
@media screen and (max-width: 1024px) {
  /* ============ HEADER =========== */

  /* >>>>> HEADER MENU LISTS <<<<<<<< */
  .headerMenu__wrapper__lists {
    width: 95%;
    height: 90%;
  }

  /* *** menu title *** */
  .headerMenu__wrapper__lists-title {
    width: 60%;
    margin: 0 auto 20px auto;
    flex-direction: column;
    padding-top: 20px;
  }
  .headerMenu__wrapper__lists-title h2 {
    font-size: var(--fz-30);
    margin-bottom: 20px;
  }
  /* *** menu content *** */
  .headerMenu__wrapper__lists__contents {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  /* left (LL MAGAZINES) */
  .c-l-category,
  .c-l-publish {
    flex: 1;
  }
  /* center */
  .headerMenu__wrapper__lists__contents-center {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  /* right */
  .headerMenu__wrapper__lists__contents-right {
    padding-bottom: 200px;
  }

  /* >>>>>>>>> MENU FOOTER <<<<<<<<<< */
  .headerMenu__wrapper__lists__footer {
    width: 60%;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
  }
  .headerMenu__wrapper__lists__footer div:first-child {
    margin-bottom: 20px;
  }

  /* ============= MAIN BANNER ============ */
  .mainBanner__wrapper {
    flex-direction: column;
  }
  .mainBanner__wrapper {
    padding: 34px 48px 0 48px;
  }
  /* >>>>>>> BANNER LEFT <<<< */
  .mainBanner__wrapperLeft {
    padding: 130px 0 0 0;
  }
  /* *** slide container **** */
  /* Caption text */
  .mainBanner__wrapperLeft-slideContainer .slide .slideText {
    font-size: var(--fz-30);
    padding: 0;
    top: -3%;
    right: -5%;
    height: 30%;
  }
  /* subtext */
  .mainBanner__wrapperLeft-slideContainer .slide .slideSubtext {
    font-size: var(--fz-24);

    bottom: -8%;
  }
  /* *** Slide Pagination **** */
  .mainBanner__wrapperLeft-pagination {
    right: 0;
    bottom: 10px;
  }
  /* >>>>>>> BANNER RIGHT <<<< */
  .mainBanner__wrapperRight {
    margin-top: 30px;
  }
  /* ++++ CONTENT ++++ */
  /* *** title *** */
  .mainBanner__wrapperRight-content {
    width: 100%;

    padding: 34px 0 55px 0;
  }
  /* **** image slide top & image slide bottom *** */

  .mainBanner__wrapperRight-content .contentSlideWrapper {
    display: flex;

    width: 5000px;
  }
  .mainBanner__wrapperRight-content .imgContentTop div,
  .mainBanner__wrapperRight-content .imgContentBottom div {
    margin-right: 20px;
  }

  /* ============== SMALL ADVERTISE ============ */
  .advertise__wrapper ul li {
    font-size: var(--fz-16);
  }
}

/* >>>>>> MOBILE <<<<<<<< */
@media screen and (max-width: 600px) {
  /* ================= HEADER ============== */
  /*   >>>>>>> HEADER TOP <<<<<<<<< */
  .headerTop {
    padding: 15px 10px;

    font-size: var(--fz-10);
  }
  .headerTop > div:first-child {
    margin-right: 8px;
  }
  .headerTop > div:first-child::after {
    bottom: 2px;

    margin: 0 4px;
  }
  /* >>>>>>>>> HEADER LOGO <<<<<<<<<< */
  .headerLogo {
    top: 30px;

    padding-left: 10px;

    font-size: var(--fz-30);
  }
  .headerLogo span {
    font-size: var(--fz-20);
  }
  /* >>>>>>>>> HEADER MENU <<<<<<<<<< */
  /* *** open button **** */
  .headerMenu-button {
    top: 15px;

    padding-right: 10px;
  }
  .headerMenu-button button {
    width: 100px;
    height: 40px;
  }

  .headerMenu-button div {
    /* create box shadow for button */
    width: 100px;
    height: 40px;
    top: 10px;
  }
  /* *** menu title *** */
  .headerMenu__wrapper__lists-title {
    width: 90%;
  }

  /* *** menu content *** */
  .headerMenu__wrapper__lists__contents {
    width: 90%;
  }

  /* left (LL MAGAZINES) */
  .c-l-title div:first-child {
    font-size: var(--fz-20);
  }
  .c-l-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .c-l-title-respon-button {
    display: block;
  }
  .c-l-menu-wrapper {
    display: none;
  }
  .c-l-menu-wrapper.active {
    display: block;
  }
  .c-l-category a,
  .c-l-publish a,
  .c-c-house > div:last-child a,
  .c-c-project > div:last-child a {
    font-size: var(--fz-12);
  }
  /* center */
  .c-c-house > div:first-child,
  .c-c-project > div:first-child {
    font-size: var(--fz-20);
  }
  /* menu content right */
  .headerMenu__wrapper__lists__contents-right .c-r-menu > div {
    font-size: var(--fz-20);
  }
  .c-r-button div:last-child {
    width: 250px;
  }
  /* >>>>>>>>> MENU FOOTER <<<<<<<<<< */
  .headerMenu__wrapper__lists__footer {
    width: 90%;
    font-size: var(--fz-12);
    font-weight: var(--fw-700);
  }
  .headerMenu__wrapper__lists__footer div:first-child {
    margin-bottom: 20px;
  }

  /* ============= MAIN BANNER ============ */

  /* *** slide container **** */
  /* Caption text */
  .mainBanner__wrapperLeft-slideContainer .slide .slideText {
    top: -10%;
    right: -10%;
    height: 80%;
  }
  /* ++++ HOUSE IMG ++++ */
  .mainBanner__wrapperRight-houseImage {
    width: 100%;
  }
  .mainBanner__wrapperRight-houseImage div {
    padding: 20px;
  }
  .mainBanner__wrapperRight-houseImage div img {
    width: 100%;
  }

  .mainBanner__wrapperRight-houseImage div h3 {
    font-size: var(--fz-16);
  }
}
